*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html, body{
    height: 100%;
}
a{
    text-decoration: none;
    color: white;
}
h1{
    margin: 0;
    padding: 0;
}
.all   {
    display: flex;
    flex-direction: column;
    height: 100%;
}
/* голова */
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #25427a;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 5%;
    min-height: 50px;

} 
.logo{
    margin-left: 3%;
}
.searchForm{
    display: flex;
    align-items: center;
}
.search{
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    border: none;
    
}
.button1{
    padding: 5px;
    margin: 5px;
    background-color: transparent;
    border: 0;
    background-image: url(img/search.svg);
    width: 16px;
    height: 16px;
}


.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 20%;
    box-sizing: border-box;

}
.nav__element{
    height: 20px;
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid gray;
}
.nav__element:hover{
    background-color: rgba(255,255,255, 0.1);
}
.nav__element:last-child{
    border: 0;
}

.nav__element img{
    width: 20px;
    height: 20px;
    border-radius: 15%;
    margin: 0 7px;
}
.nav__element a{
    display: flex;
    align-items: center;

}
/* /голова */
/* основной блок */
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 95.8%;    
}
/* левое меню */
.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #25427a;
    width: 180px;
}
.usercell{  
    width: 100%;
    background: rgb(103, 134, 218);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-end;
    padding-right: 35px;    
    color: white;
}
.usercell img{
    border-radius: 50%;
    width: 40px;
    margin: 8px 12px;
}
.left .nav__element{
    
    margin: 15px 0 0 0;
    border: none;
}

/* /левое меню */
/* середина */
.center{
    display: flex;
    flex-direction: column;
    color: gray;
    border: 1px soli black;
    width: 1000px;
}
.center_top{
    height: 145px;
    background: url(img/centralbg.png) no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;

}
.add-cover{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 170px;
    padding: 3px 10px;
    margin: 10px;
}
.top-area{
    display: flex;
    padding: 0;
    height: 90px;
}
.user-photo{
    display: flex;
    align-items: flex-end;
    
}
.user-photo img{
    height: 100px;
    position: relative;
    top: 15%;
    margin: 0 10px;
} 
.update-info{
    margin-bottom: 10px;
    margin-left: 400px;
    background: white;
    padding: 3px;
}
.active-log{
    margin-bottom: 10px;
    margin-left: 30px;
    padding: 3px;
    background: #fff;
}
.tridot{
    width: 30px;
    height: 24px;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 10px;
    border-left: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 5px;
}
.dot{
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #000;    
}

.center_menu{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    border: 1px solid #cfcfcf;
    border-top: none;
}
.center_menu_block{
    display: flex;
    margin-left: 12%;
}
.center_menu_items{
    border-right: 1px solid #cfcfcf;
    padding: 10px 17px;
}
.center_menu_items:first-child{ 
    border-left: 1px solid #cfcfcf;

}
.wall{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
/* левая стена */
.wall_left{
    width: 316px;
    margin: 0 10px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}
.locations{

}
.location_item{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
}
.wall a{
color: #b4c2da;
}
.location_item:last-child{
    align-items: flex-start;
}
.graytext{
    color: #dadada;
}
.friendslink{
    display: flex;
    align-items: center;
    color: #dadada;
margin-left: 25px;}
.friendslink .dot{
    background: #dadada;
}
.friendlist{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
}
.friendlist_item{
    height: 90px;
    width: 100px;
    display: flex;
    align-items: flex-end;
    color: white;
}
.fitem1{
    background-image: url(img/friend1.png);
}
.fitem2{
    background-image: url(img/friend2.png);
}
/* /левая стена */

/* правая стена */

.wall_right{
    display: flex;
    flex-direction: column;
    width: 65%;
}
.statusadd{
    display: flex;
    flex-direction: column;
    border: 1px solid #dadada;
    margin-top: 16px;
}
.statusadd_btns{
    display: flex;
    height: 35px;
    background: #f4f8fe;

    
}
.statusadd_btns_btn{
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.statusadd_btns_btn img{
    margin-right: 5px;
}
.statusadd_input{
    height: 50px;
    border-top: 1px solid #dadada;
}
.statusadd_input input{
    height: 46px;
    width: 490px;
    border: none;
    padding: 0 10px;
    background-origin: border-box;
}
.status{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.statushead{
    display: flex;
    align-items: center;
}
.statushead img{
    height: 40px;
    width: 40px;
    margin: 10px;
}
.statushead_info_username{
    color: #4e5a79;
    display: flex;
    align-items: center;
}
.statushead_info_username p{
    color: #dadada;
    padding-left: 10px;
}
.statushead_info_date{
    color: #dadada;
}
.statusfooter{
    display: flex;
    flex-direction: column;
}
.sharebar{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.statusfooter .dot{
    margin: 0 5px;
    background: #dadada;
}
.commentbar{
    height: 49px;
    margin-top: 10px;
    border-top: 1px solid #dadada;
    background: #f7f7f9;
    display: flex;
    align-items: center;
}
.commentbar input{
    margin-left: 10px;
    height: 30px;
    width: 400px;
    border: 1px solid #dadada;
    padding-left: 10px;
}

.greybar{
    height: 0;
    width: 95%;
    border-top: 1px solid #dadada;
    align-self: center;
    margin-top: 10px;
}
/* /правая стена */



/* /середина */
/* список контактов */

.contact_list{
    display: flex;
    flex-direction: column;
    width: 200px;
    box-sizing: border-box;
    background: #eaebef;
}
.contact_list_item{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.contact_list_item img{
    margin: 10px;
}
.contact_list_item_name{
    display: flex;
    align-items: center;

    
}
.green {
    color: #518f26;
    display: flex;
    align-items: center;
}
.online_dot{
    height: 8px;
    width: 8px;
    background: #518f26;
    margin: 5px;
    border-radius: 50%;
}

/* /список контактов */
 

/* /основной блок */
footer{
    height: 50px;
    background: #a5a5a5;
}